<?xml version="1.0"?>
<launch>

  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="joystick" default="true" />

  <group ns="joy_teleop">

    <rosparam command="load" file="$(find husky_control)/config/teleop.yaml" />

    <node pkg="joy" type="joy_node" name="joy_node">
      <param name="dev" value="$(arg joy_dev)" />
    </node>

    <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy" />

    <node pkg="vaultbot_teleop" type="teleop_ur_joy" name="teleop_ur_and_stop_joy" output="screen">
      <param name="target_link" type="string" value="left_ur5_base_link"/>
      <param name="source_link_left" type="string" value="left_ur5_ee_link"/>
      <param name="source_link_right" type="string" value="right_ur5_ee_link"/>
    </node>
  </group>

</launch>
