<?xml version="1.0"?>

<launch>
  <param name="/use_sim_time" value="false"/>
  <arg name="rviz" default="false" />

  <include file="$(find hector_mapping)/launch/mapping_default.launch">
    <arg name="pub_map_odom_transform" value="true" />
    <arg name="scan_topic" value="/lidar/scan"/>
    <arg name="pub_odom" value="true"/>
    <arg name="map_size" value="1000"/>
    <arg name="map_res" value="0.025"/>
    <arg name="map_start_x" value="0.5"/>
    <arg name="map_start_y" value="0.5"/>
  </include>

  <include file="$(find husky_navigation)/launch/move_base.launch"/>

<!--
  <include file="$(find urg_node)/launch/urg_lidar.launch" />

  <include file="$(find nav_3d)/launch/nav_3d.launch" />

  <include file="$(find laser_stitcher)/launch/wait_for_request.launch" />
 -->

</launch>
