<?xml version="1.0"?>

<launch>
    <!--- Run the cloud_to_laserscan script -->
    <node name="cloud_to_laserscan" pkg="laser_filters" type="cloud_to_laserscan_with_poly.py" output="screen" />

    <!--- Run the polygon_filter script 
    <node name="polygon_filter" pkg="laser_filters" type="polygon_filter.py" output="screen" />-->

    <!--- Run laser_stitcher - back and forth scan -->
    <include file="$(find laser_stitcher)/launch/urscript_manager.launch" />

</launch>
